
/* ================================================================================================

   html

   ================================================================================================ */

/* ---------------------
reset
 --------------------- */

 .clearfix::after{
   content: '';
   display: block;
   clear: both;
 }


/* ---------------------
  base
  --------------------- */



/* ---------------------
   header
   --------------------- */



}



/* stylename */
